{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<form method="post" class="form-horizontal" role="form">{% csrf_token %}

		<table class="centered responsive-table highlight">

			<h4 align="center">Avalie a Reunião</h4>

			<thead>

				<tr>

					<th>N°</th>
					<th>Perguntas</th>
					<th>Respostas</th>
				</tr>
			</thead>

			<tbody>

				{% for question in list_questions %}

					<tr>

						<td>{{question.id}}</td>
						<td>{{question.question}}</td>
						<td>
							{% for option in options %}
								<p>
									<label>
										<input class="with-gap" name="answer" type="radio" value="{{option}}"/>
									  	<span>{{option}}</span>
									</label>
								  </p>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br>
		<a href="{% url 'meeting_show' meeting.id %}" class="btn green darken-4 waves-effect waves-light right">
			Voltar
		</a>
		<button class="btn cyan waves-effect waves-light right" type="submit">
			Cadastrar
			<i class="mdi-content-send right"></i>
		</button>
	</form>
</div>

{% endblock content %}