{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<h4 align="center">Respostas do Questionário</h4>
	<table class="centered responsive-table highlight">

		<thead>

			<tr>

				<th>N°</th>
				<th>Perguntas</th>
				<th>Resposta</th>
			</tr>
		</thead>

		<tbody>
			{% for question in list_questions %}
				<tr>

					<td>{{question.id}}</td>
					<td>{{question.question}}</td>
					<td>{{question.answer}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<br>
	<a href="{% url 'meeting_show' meeting.id %}" class="btn green darken-4 waves-effect waves-light right">
		Voltar
	</a>

	<a href="{% url 'question_show' meeting.id quiz.id %}"
		   class="btn blue darken-4 waves-effect waves-light right">Editar Respostas
	</a>
</div>

{% endblock content %}