{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<form method="POST" class="form-horizontal" role="form">{% csrf_token %}

		<h4 align="center">Avalie a Reunião</h4>
		<table class="centered responsive-table highlight">

			<thead>

				<tr>

					<th>N°</th>
					<th>Perguntas</th>
					<th>Respostas</th>
				</tr>
			</thead>

			<tbody>


				{{ formset.management_form }}
				{% for question in list_questions %}

					<tr>
						<td>{{question.id}}</td>
						<td>{{question.question}}</td>
						<input type="hidden" name="question_{{forloop.counter}}" id="question_{{forloop.counter}}"
							value="{{question.id}}">
						<td>

							{% for option in options %}
								<label>

									<input class="with-gap" name="answer_{{question.id}}" type="radio"
										   required/>
									<span id="answer">{{option}}</span>
								</label>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br>
		<a href="{% url 'meeting_show' meeting.id %}" class="btn green darken-4 waves-effect waves-light right">
			Voltar
		</a>
		<button class="btn cyan waves-effect waves-light right" type="submit">
			Cadastrar
			<i class="mdi-content-send right"></i>
		</button>
	</form>
</div>

{% endblock content %}