{% load staticfiles %}

{% block content %}

<nav class="black darken-1" style="padding:0px 10px;">
    <div class="nav-wrapper">

        {% if user.is_authenticated %}
            <a href="/reunioes" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>

            <a href="/reunioes" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            notifications
                        </i><b>NOTIFICAÇÕES</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'meeting_list' %}">
                        <i class="material-icons left">
                            people
                        </i><b>REUNIÕES</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            local_library
                        </i><b>MÉTODO JAD</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            view_list
                        </i><b>RELATÓRIOS</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            help_outline
                        </i><b>AJUDA</b>
                    </a>
                </li>

                <li>
                    <a class='dropdown-trigger' data-target='dropdown1'>
                        <i class="material-icons left">
                            contacts
                        </i><b>CONTA</b>
                    </a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li>
                            <a href="{% url 'client_show' %}">
                                <i class="material-icons left">
                                    contacts
                                </i>
                                <br>VER PERFIL
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'client_edit' %}">
                                <i class="material-icons left">
                                    edit
                                </i>
                                <br>EDITAR PERFIL
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'client_delete' %}">
                                <i class="material-icons left">
                                    delete
                                </i>
                                <br>EXCLUIR PERFIL
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'logout' %}">
                        <i class="material-icons left">
                            exit_to_app
                        </i><b>SAIR</b>
                    </a>
                </li>
            </ul>

            <ul class="sidenav" id="mobile-nav">
                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            notifications
                        </i><b>NOTIFICAÇÕES</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'meeting_list' %}">
                        <i class="material-icons left">
                            people
                        </i><b>REUNIÕES</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            local_library
                        </i><b>MÉTODO JAD</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            view_list
                        </i><b>RELATÓRIOS</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            help_outline
                        </i><b>AJUDA</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'client_show' %}">
                        <i class="material-icons left">
                            contacts
                        </i><b>CONTA</b>
                    </a>
                </li>

                <li>
                    <a href="{% url 'logout' %}">
                        <i class="material-icons left">
                            exit_to_app
                        </i><b>SAIR</b>
                    </a>
                </li>
            </ul>
        {% else %}
            <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
        {% endif %}
    </div>
</nav>

{% endblock content %}