{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container" style="width:520px">

    <form method="post" class="form-horizontal" role="form">{% csrf_token %}

		<div class="col s12 m12 l6">
            <div class="card-panel">
                <div class="row">
    				<form class="col s12">

						<div class="row">
        					<div class="input-field col s12">
          						<i class="material-icons prefix">mode_edit</i>
								<textarea id="id_introduction"
										  name="introduction"
										  class="materialize-textarea" maxlength="400" required
										  placeholder="{{shedule.introduction}}"></textarea>
								<label for="id_introduction">
									Introdução
								</label>
							</div>
      					</div>

						<div class="row">
        					<div class="input-field col s12">
          						<i class="material-icons prefix">rate_review</i>
								<textarea id="id_review_of_the_management_perspective"
										  name="review_of_the_management_perspective"
										  class="materialize-textarea" maxlength="150" required
										  placeholder="{{shedule.review_of_the_management_perspective}}"></textarea>
								<label for="id_review_of_the_management_perspective">
									Revisão da Perspectiva Gerencial
								</label>
							</div>
      					</div>

						<div class="row">
        					<div class="input-field col s12">
          						<i class="material-icons prefix">visibility</i>
								<textarea id="id_vision_of_the_area_of_informativa"
										  name="vision_of_the_area_of_informativa"
										  class="materialize-textarea" maxlength="200" required
										  placeholder="{{shedule.vision_of_the_area_of_informativa}}"></textarea>
								<label for="id_vision_of_the_area_of_informativa">
									Visão da Área de Informatica
								</label>
							</div>
      					</div>

						<div class="row">
        					<div class="input-field col s12">
          						<i class="material-icons prefix">comment</i>
								<textarea id="id_rules_of_conduct"
										  name="rules_of_conduct"
										  class="materialize-textarea" maxlength="400" required
										  placeholder="{{shedule.rules_of_conduct}}"></textarea>
								<label for="id_rules_of_conduct">
									Regras de Conduta
								</label>
							</div>
      					</div>

						<table class="left responsive-table">

							<h4 align="center">Tópicos da Reunião</h4>

							<thead>

								<tr>

									<th></th>
									<th>Tópicos</th>
								</tr>
							</thead>

							<tbody>

								{% for topic in list_topics %}
								<tr>

									<td></td>
									<td>{{topic.topic_name}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

						<div class="row">
	                        <div class="input-field col s5">
		                        <button class="btn cyan waves-effect waves-light right" type="submit">Alterar
			                       <i class="mdi-content-send right"></i>
		                        </button>
	                        </div>
							<div class="input-field col s6">
		                        <a href="{% url 'shedule_show' meeting.id shedule.id %}"
                                   class="btn orange darken-1 waves-effect waves-light right">Cancelar</a>
	                        </div>
						</div>
    				</form>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock content %}