{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<table class="centered responsive-table">

		<h4 align="center">Informações da Pauta</h4>

		<thead>

			<tr>

				<th>Número</th>
				<th>Introdução</th>
				<th>Revisão da Perspectiva Gerencial</th>
				<th>Visão da Área de Informativa</th>
				<th>Regras de Conduta</th>
				<th>Tópicos</th>
			</tr>

		</thead>

		<tbody>

			<tr>

				<td>{{shedule.id}}</td>
				<td>{{shedule.introduction}}</td>
				<td>{{shedule.review_of_the_management_perspective}}</td>
				<td>{{shedule.vision_of_the_area_of_informativa}}</td>
				<td>{{shedule.rules_of_conduct}}</td>
				{% for topic in list_topics %}

					<td>{{topic.topic_name}}</td>
					<td></td>
				{% endfor %}
			</tr>

		</tbody>
	</table>
</div>

{% if request.user.is_staff %}

	<div class="container">

		<a href="{% url 'meeting_show' meeting.id %}"
		   class="btn green darken-4 waves-effect waves-light right">Voltar</a>
		<a href="{% url 'shedule_delete' meeting.id shedule.id  %}"
		   class="btn red accent-4 waves-effect waves-light right">Excluir Pauta</a>
		<a href="{% url 'shedule_edit' meeting.id shedule.id %}"
		   class="btn blue darken-4 waves-effect waves-light right">Editar Pauta</a>
	</div>
{% endif %}

{% endblock content %}