{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container" style="width:520px">

    <form method="post" class="form-horizontal" role="form">{% csrf_token %}

         <input type='hidden' name='{% csrf_token %}'>

        <h2 align="center">Alteração de Informações do Reunião</h2>

        <div class="col s12 m12 l6">
            <div class="card-panel">
                <div class="row">
                    <form class="col s12">

                        <div class="row">
                            <div class="input-field col s8">
                                <i class="mdi-communication-email prefix"></i>
                                <i class="small material-icons">account_circle</i>
                                <input name="subject_matter" type="text" class="validate"
                                       required id="id_subject_matter" minlength="4" maxlength="40"
										value="{{meeting.subject_matter}}">
                                <label for="id_subject_matter">Assunto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="project" type="text" class="validate"
                                       required id="id_project" maxlength="40"
										value="{{meeting.project}}">
                                <label for="id_project">Projeto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="meeting_leader" type="text" class="validate"
                                       required id="id_meeting_leader" maxlength="40"
										value="{{meeting.meeting_leader}}">
                                <label for="id_meeting_leader">Líder da Reunião</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="documentary" type="text" class="validate"
                                       required id="id_documentary" maxlength="40"
										value="{{meeting.documentary}}">
                                <label for="id_documentary">Documentador</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s4">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="first_date" type="text" class="datepicker"
                                       required id="id_first_date" maxlength="12"
										value="{{meeting.first_date}}">
                                <label for="id_first_date">Data Inicial</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="final_date" type="text" class="datepicker"
                                       required id="id_final_date" maxlength="12"
										value="{{meeting.final_date}}">
                                <label for="id_final_date">Data Final</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s4">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="first_hour" type="text" class="timepicker"
                                       required id="id_first_hour" maxlength="10"
										value="{{meeting.first_hour}}">
                                <label for="id_first_hour">Hora Inicial</label>
                            </div>

                            <div class="input-field col s4">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="final_hour" type="text" class="timepicker"
                                       required id="id_final_hour" maxlength="10"
										value="{{meeting.final_date}}">
                                <label for="id_final_hour">Hora Final</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="status" type="text" class="validate"
                                       required id="id_status" maxlength="10"
                                        value="{{meeting.status}}">
                                <label for="id_status">Status</label>
                            </div>
                        </div>

                        <div class="row">
	                        <div class="input-field col s5">
		                        <button class="btn cyan waves-effect waves-light right" type="submit">Alterar
			                       <i class="mdi-content-send right"></i>
		                        </button>
	                        </div>
                            <div class="input-field col s6">
		                        <a href="{% url 'meeting_show' meeting.id%}"
                                   class="btn orange darken-1 waves-effect waves-light right">Cancelar</a>
	                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    $('.datepicker').datepicker({
        i18n: {
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
                    'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
            today: 'Hoje',
            clear: 'Limpar',
            cancel: 'Sair',
            done: 'Confirmar',
        },
        format: 'dd/mm/yyyy',
        container: 'body',
        minDate: new Date(),
        onSet: function (ele) {

           if(ele.select){

                this.close();
           }

            var inicial_date = $('#inicial_date').val();
            var final_date = $('#final_date').val();

            var inicial_date_date1 = new Date(inicial_date);
            var inicial_date_date2 = new Date(final_date);

            var inicial_date_ms = inicial_date_date1.getTime();
            var final_date_ms = inicial_date_date2.getTime();

            if((final_date_ms - inicial_date_ms) < 0 ) {
              alert('A Data final tem que ser maior que a data inicial!');
              $('#inicial_date').val(final_date);
            }
        }
    });

$(function(){

	$('#id_final_hour').timepicker({
		showCleanBtn: true,
		autoClose: false,
		twelveHour: false,
		i18n: {
			today: 'Hoje',
			clear: 'Limpar',
			cancel: 'Sair',
			done: 'Confirmar',
		}
	});
});

$(function(){

	$('#id_first_hour').timepicker({
		showCleanBtn: true,
		autoClose: false,
		twelveHour: false,
		i18n: {
			today: 'Hoje',
			clear: 'Limpar',
			cancel: 'Sair',
			done: 'Confirmar',
		}
	});
});

</script>

{% endblock content %}