{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<div class="row">
    	<div class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<i class="material-icons prefix">search</i>
          			<input type="text" id="demo-auto" class="autocomplete">
          			<label for="demo-auto">Pesquise um relatório</label>
        		</div>
      		</div>
    	</div>
  	</div>
</div>

<table class="centered responsive-table">

 	<thead>

	<tr>
			{% if request.user.is_staff %}

				<th>
					<a  href="{% url 'meeting_new' %}" class="waves-effect green darken-2 btn">
						<i class="material-icons center">
							add
						</i>
						Reunião
					</a>
				</th>
			{% endif %}

			<th>Número</th>
			<th>Assunto</th>
		  	<th>Projeto</th>
		  	<th>Status</th>
	  	</tr>

	</thead>

	<tbody>

		{% for meeting in list_meeting %}

			<tr>
				{% if request.user.is_staff %}

					<td></td>
				{% endif %}

				<td>{{ meeting.id }}</td>
				<td><a href="{% url 'meeting_show' meeting.id %}">{{meeting.subject_matter}}</a></td>
				<td>{{ meeting.project }}</td>
				<td>{{ meeting.status}}</td>
			</tr>
    	{% endfor %}
	</tbody>
</table>

{% endblock content %}