{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<a href="{% url 'pdf_show' meeting.id %}"
		   class="btn green darken-4 waves-effect waves-light right">PDF</a>

<div class="container">

	<table class="centered responsive-table">

		<h4 align="center">Informações da Reunião</h4>

		<thead>

			<tr>

				<th>Número</th>
				<th>Assunto</th>
				<th>Projeto</th>
				<th>Líder da Reunião</th>
				<th>Documentador</th>
				<th>Local</th>
				<th>Data Inicial</th>
				<th>Data Final</th>
				<th>Hora Início</th>
				<th>Hora Final</th>
				<th>Status</th>
			</tr>

		</thead>

		<tbody>

			<tr>

				<td>{{meeting.id}}</td>
				<td>{{meeting.subject_matter}}</td>
				<td>{{meeting.project}}</td>
				<td>{{meeting.meeting_leader}}</td>
				<td>{{meeting.documentary}}</td>
				<td>{{meeting.local}}</td>
				<td>{{meeting.first_date}}</td>
				<td>{{meeting.final_date}}</td>
				<td>{{meeting.first_hour}}</td>
				<td>{{meeting.final_hour}}</td>
				<td>{{meeting.status}}</td>
			</tr>

		</tbody>
	</table>
</div>

{% if request.user.is_staff %}

	<div class="container">

		<a href="{% url 'meeting_list' %}"
		   class="btn green darken-4 waves-effect waves-light right">Voltar</a>
		<a href="{% url 'meeting_delete' meeting.id%}"
		   class="btn red accent-4 waves-effect waves-light right">Cancelar Reunião</a>
		<a href="{% url 'meeting_edit' meeting.id%}"
		   class="btn blue darken-4 waves-effect waves-light right">Editar Reunião</a>
	</div>

	<div class="container">

		<table class="centered responsive-table highlight">

			<h4 align="center">Participantes da Reunião</h4>

			<thead>
				<tr>
					<th>
						<a  href="{% url 'client_list' meeting.id %}" class="waves-effect green darken-2 btn">
							<i class="material-icons center">
								add
							</i>
							Participantes
						</a>
					</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Ramal</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td></td>
					<td>{{meeting.id}}</td>
					<td>{{meeting.subject_matter}}</td>
					<td>{{meeting.project}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">

		<table class="centered responsive-table highlight">

			<h4 align="center">Tópicos da Reunião</h4>

			<thead>
				<tr>
					<th>
						<a  href="{% url 'topic_new' meeting.id %}" class="waves-effect green darken-2 btn">
							<i class="material-icons center">
								add
							</i>
							Tópicos
						</a>
					</th>
					<th>Tópicos</th>
					<th>Remover</th>
				</tr>
			</thead>

			<tbody>

				{% for topic in list_topics %}

				<tr>

					<td></td>
					<td>{{topic.topic_name}}</td>
					<td><a href="{% url 'topic_delete' topic.id meeting.id %}"
							   class="btn red darken-1 waves-effect waves-light">Excluir Tópico</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="container">

		<table class="centered responsive-table highlight">

			<h4 align="center">Pauta de Reunião</h4>

			<thead>
				<tr>
					<th>
						<a  href="{% url 'shedule_new' meeting.id %}" class="waves-effect green darken-2 btn">
							<i class="material-icons center">
								add
							</i>
							Pauta
						</a>
					</th>
					<th>Número</th>
					<th>Introdução</th>
				</tr>
			</thead>

			<tbody>

				{% for shedule in shedules %}

				<tr>

					<td></td>
					<td>{{shedule.id}}</td>
					<td>
						<a href="{% url 'shedule_show' meeting.id shedule.id %}">
							{{shedule.introduction}}
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="container">

		<table class="centered responsive-table highlight">

			<h4 align="center">Questionário de Avaliação</h4>

			<thead>
				<tr>
					<th>
						<a  href="{% url 'quiz_new' meeting.id %}" class="waves-effect green darken-2 btn">
							<i class="material-icons center">
								add
							</i>
							Adicionar Questionário
						</a>
					</th>
					<th>Descrição</th>
					<th>Visualizar</th>
				</tr>
			</thead>

			<tbody>

				{% for questionnaire in questionnaires %}

					<tr>

						<td></td>
						<td>{{questionnaire.description}}</td>
						<td>
							<a  href="{% url 'quiz_show' meeting.id questionnaire.id %}"
								class="waves-effect green darken-2 btn">
								Ver Relatório
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}

<div class="container">

	<table class="centered responsive-table highlight">

		<h4 align="center">Questionário de Avaliação</h4>

		<thead>

			<tr>

				<th>Descrição</th>
			</tr>
		</thead>

		<tbody>

		<tbody>

			{% for questionnaire in questionnaires %}

				<tr>

					<td></td>
					<td>{{questionnaire.description}}</td>
					<td>
						<a href="{% url 'quiz_show' meeting.id questionnaire.id %}">
							Ver Relatório
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}