{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container" style="width:520px">

    <form method="post" class="form-horizontal" role="form">{% csrf_token %}

		<h2 align="center">Tópicos da Reunião</h2>

		<div class="form-group">
			<form name="add_name" id="add_name">
				<div class="table-responsive">
					<table class="table table-bordered" id="dynamic_field">
						<tr>
							<td>
								<div class="input-field col s8">
									<i class="mdi-communication-call prefix"></i>
									<i class="small material-icons">person</i>
									<input name="topic_name" type="text" class="validate"
										   required id="id_topic_name" maxlength="40">
									<label for="id_topic_name">Tópico</label>
								</div>
							</td>
							<td>
								<button type="submit" name="add" id="add"
										class="waves-effect cyan btn">
									Adicionar
								</button>
							</td>
							<td>
								<a href="{% url 'meeting_show' meeting.id %}"
				   					class="btn green darken-4 waves-effect waves-light right">
									Voltar
								</a>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
	</form>
</div>

<div class="container" style="width:520px">

	<table class="centered responsive-table">

		<h4 align="center">Lista de Tópicos Dessa Reunião</h4>

		<thead>
			<tr>
				<th>Tópicos</th>
				<th>Remover</th>
			</tr>
		</thead>

		<tbody>
			{% for topic in list_topics %}
				<tr>
					<td>{{topic.topic_name}}</td>
					<td><a href="{% url 'delete_topic' topic.id meeting.id %}"
							   class="btn red darken-1 waves-effect waves-light right">Excluir Tópico</a></td>
			{% endfor %}
				</tr>
		</tbody>
	</table>
</div>

{% endblock content %}