{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
    Bem Vindo || {{block.super}}
{% endblock head_title %}

{% block content %}

    <h1>Clientes</h1>

    <table border="1">
    <thead>
        <tr>
        <th>Name</th>
        <th>Ramal</th>
        <th>Sector</th>
        <th>Permission</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for client in object_list %}
        <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.ramal }}</td>
        <td>{{ client.sector}}</td>
        <td>{{ client.permission }}</td>
        <td><a href="{% url "client_show" client.id %}">view</a></td>
        <td><a href="{% url "client_edit" client.id %}">edit</a></td>
        <td><a href="{% url "client_delete" client.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="{% url "client_new" %}">New</a>


              <!--<div class="col s12 m12 l6">-->
                <!--<div class="card-panel">-->
                  <!--<div class="row">-->
                    <!--<form class="col s12">-->
                      <!--<div class="row">-->
                        <!--<div class="input-field col s12">-->
                            <!--<i class="mdi-communication-email prefix"></i>-->
                            <!--<i class="small material-icons">account_circle</i>-->

                          <!--<input id="name4" type="text" class="validate" required="True">-->
                          <!--<label for="first_name">Name</label>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row">-->
                        <!--<div class="input-field col s12">-->
                          <!--<i class="mdi-communication-email prefix"></i>-->
                          <!--<i class="small material-icons">email</i>-->
                            <!--<input id="email4" type="email" class="validate" required="True">-->
                          <!--<label for="email">Email</label>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row">-->
                        <!--<div class="input-field col s12">-->
                          <!--<i class="mdi-action-lock-outline prefix"></i>-->
                            <!--<i class="small material-icons">lock</i>-->
                          <!--<input id="password5" type="password" class="validate" required="True">-->
                          <!--<label for="password">Password</label>-->
                        <!--</div>-->
                      <!--</div>-->
                        <!--<div class="row">-->
                          <!--<div class="input-field col s12">-->
                            <!--<button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit-->
                              <!--<i class="mdi-content-send right"></i>-->
                            <!--</button>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</form>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

{% endblock content %}