{% extends "base.html" %}

{% block head_title %}
    Bem Vindo || {{block.super}}
{% endblock head_title %}

{% block content %}

    <h1>Clientes</h1>

    <table border="1">
    <thead>
        <tr>
        <th>Name</th>
        <th>Ramal</th>
        <th>Sector</th>
        <th>Permission</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for client in object_list %}
        <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.ramal }}</td>
        <td>{{ client.sector}}</td>
        <td>{{ client.permission }}</td>
        <td><a href="{% url "client_show" client.id %}">view</a></td>
        <td><a href="{% url "client_edit" client.id %}">edit</a></td>
        <td><a href="{% url "client_delete" client.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="{% url "client_new" %}">New</a>
{% endblock content %}