{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" style="width:520px">

    <form method="post" class="form-horizontal" role="form">{% csrf_token %}

        <h2 align="center">Alteração de Informações do Usuário</h2>

        <div class="col s12 m12 l6">
            <div class="card-panel">
                <div class="row">
                    <form class="col s12">

                        <div class="row">
                            <div class="input-field col s8">
                                <i class="mdi-communication-email prefix"></i>
                                <i class="small material-icons">account_circle</i>
                                <input name="first_name" type="text" class="validate"
                                       required id="id_first_name" minlength="3" maxlength="35" value="{{user.first_name}}">
                                <label for="id_first_name">NOME</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8">
                                <i class="mdi-communication-email prefix"></i>
                                <i class="small material-icons">email</i>
                                <input name="username" type="email" class="validate"
                                       required id="id_username" maxlength="25" value="{{user.username}}">
                                <label for="id_username">EMAIL</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s3">
                                <i class="mdi-communication-call prefix"></i>
                                <i class="small material-icons">call</i>
                                <input name="last_name" type="text" class="validate"
                                       required id="id_last_name" maxlength="4" onkeyup="justNumbers(this);"
                                       value="{{user.last_name}}">
                                <label for="id_last_name">RAMAL</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s10">
                                <i class="mdi-communication-group prefix"></i>
                                <i class="small material-icons">group</i>
                                <select class="browser-default" name="sector" required id="id_sector">
                                    {% for sector in sectors %}
                                        <option name="sector" value="{{sector}}">{{sector}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s5">
                                <button class="btn cyan waves-effect waves-light right" type="submit">Alterar
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                            <div class="input-field col s6">
                                <a href="/perfil" class="btn orange darken-1 waves-effect waves-light right">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}