{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

    <form method="post" class="form-horizontal" role="form">{% csrf_token %}

        <h2 align="center">Cadastro de Usuário</h2>

        <div class="col s12 m12 l6">
            <div class="card-panel">
                <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix"></i>
                            <i class="small material-icons">account_circle</i>
                            <input id="name" name="name" type="text" class="validate"
                                   required id="id_name" maxlength="35">
                            <label for="id_name">NOME</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix"></i>
                            <i class="small material-icons">email</i>
                            <input id="email" name="email" type="email" class="validate"
                                   required id="id_email" maxlength="25">
                            <label for="id_email">EMAIL</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s2">
                            <i class="mdi-communication-call prefix"></i>
                            <i class="small material-icons">call</i>
                            <input id="ramal" name="ramal" type="text" class="validate"
                                   required id="id_ramal" maxlength="4" onkeyup="justNumbers(this);">
                            <label for="id_ramal">RAMAL</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-communication-group prefix"></i>
                            <i class="small material-icons">group</i>
                            <input id="sector" name="sector" type="text" class="validate"
                                   required id="id_sector" maxlength="42" size="20">
                            <label for="id_sector">SETOR</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s2">
                            <i class="mdi-communication-supervisor account prefix"></i>
                            <i class="small material-icons">supervisor_account</i>
                            <input id="permission" name="permission" type="text" class="validate"
                                   required id="id_permission" maxlength="11" disabled value="Usuário">
                            <label for="id_permission">PERMISSÃO</label>
                        </div>
                    </div>
                    <!--O password vai entrar depois-->
                    <!--<div class="row">-->
                        <!--<div class="input-field col s12">-->
                            <!--<i class="mdi-action-lock-outline prefix"></i>-->
                            <!--<i class="small material-icons">lock</i>-->
                            <!--<input id="password5" type="password" class="validate" required="True">-->
                            <!--<label for="password">Password</label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn cyan waves-effect waves-light right" type="submit">Cadastrar
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}