{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container" style="width:720px">

    <form method="post" class="form-horizontal" role="form">{% csrf_token %}

		<h2 align="center">Questionário de Avaliação</h2>

		<div class="form-group">
			<form name="add_name" id="add_name">

				<div class="table-responsive">
					<table class="table table-bordered" id="dynamic_field">
						<tr>
							<td>
								<div class="input-field col s4">
									<i class="mdi-communication-call prefix"></i>
									<i class="small material-icons">question_answer</i>
									<input name="question" type="text" class="validate"
										   required id="id_question" maxlength="50">
									<label for="id_question">Pergunta</label>
								</div>
							</td>
							<td>
								<button type="submit" name="add" id="add"
										class="waves-effect cyan btn">
									Adicionar
								</button>
							</td>
							<td>
								<a href="{% url 'meeting_show' meeting.id %}"
				   					class="btn green darken-4 waves-effect waves-light right">
									Voltar
								</a>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
	</form>
</div>

<div class="container" style="width:720px">

	<table class="centered responsive-table highlight">

		<h4 align="center">Lista de Perguntas Dessa Reunião</h4>

		<thead>

			<tr>
				<td>N°</td>
				<th>Perguntas</th>
				<th>Ações</th>
			</tr>
		</thead>

		<tbody>

			{% for question in questions %}

				<tr>

					<td>{{question.id}}</td>
					<td>{{question.question}}</td>
					<td>
						<a href="{% url 'quiz_edit' meeting.id question.id %}">
							<i class="mdi-communication-call prefix"></i>
							<i class="small material-icons">edit</i>
						</a>
						<a href="{% url 'quiz_delete' meeting.id question.id %}">
							<i class="mdi-communication-call prefix"></i>
							<i class="small material-icons">delete</i>
						</a>
					</td>

			{% endfor %}
				</tr>
		</tbody>
	</table>
</div>
{% endblock content %}